/* import fonts */
@import url('fonts.css');

/* reset css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html,
body {
    background-color: #FEFEFE;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    bottom: 0;
    vertical-align: baseline;
    font-size: 100%;
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h1.pageTitle {
    text-align: center;
    padding-bottom: 10px;
    margin: 0 300px 50px 300px;
    border-bottom: 1px black solid;
}

.mainContainer {
    width: 100%;
    position: relative;
    padding: 20px;
    margin: 0 auto 30px;
    box-sizing: border-box;
    background-color: #FEFEFE;
    display: flex;
    flex-direction: row;
    justify-content: normal;
}

.characterFormContainer {
    width: 1000px;
    max-width: 60%;
}

.sideBar {
    width: 500px;
    max-width: 15%;
}

.margin5PercentSide {
    margin: 0 5%;
}

.sideBarLeft {
    margin-left: 10px;
}

.sideBarRight {
    margin-right: 10px;
}

.sectionList {
    border-left: 1px black solid;
}

.sectionList li:before {
    content: '-';
    padding-right: 10px;
}

.sectionList li {
    list-style-position: inside;
    list-style-type: none;
}

.sectionList li a:link,
.sectionList li a:visited {
    text-decoration: none;
    color: #000000;
}

.sectionList li a:hover,
.sectionList li a:active {
    color: darkslateblue;
}

.spanButton {
    height: 25px;
    width: 100px;
    border: 1px black solid;
    display: inline-table;
    text-align: center;
    margin: 5px 20px;
    line-height: 25px;
}

.spanButton:hover {
    cursor: pointer;
    background-color: darkslateblue;
    color: #FFFFFF;
}

.sectionButton {
    width: 100px;
    height: 35px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.sectionButton:hover {
    cursor: pointer;
}

.emptySelectorContainer {
    display: none;
}

.selectorContainer {
    /*display: none;*/
}

.logo-container a {
    width: 100%;
    position: relative;
    display: table;
    text-align: center;
}

/*
 * Login container
 */

.loginContainer {
    height: 400px;
    width: 400px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 200px);
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    background-color: #FEFEFE;
}

.bottom-link {
    position: absolute;
    bottom: 10px;
}

.bottom-link.left {
    left: 10px;
}

.bottom-link.right {
    right: 10px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.mainBtn {
    height: 40px;
    background-color: #0066ff; /* Light Blue */
    color: #FFFFFF; /* White */
    min-width: 200px;
    padding: 0 25px;
    display: block;
    margin: 25px auto;
}

.mainLabel {
    display: block;
    text-align: left;
}

.nameGenerator {
    height: 40px;
    width: 100%;
}

.mainInput {
    border: 1px black solid;
    height: 40px;
    width: 100%;
    position: relative;
    display: inline-table;
    padding: 0 20px;
    font: normal 17px/40px 'Playfair Display', serif;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.clearLinkContainer {
    position: relative;
    width: 30px;
    height: 100%;
    float: left;
    margin-left: 7px;
}

.characterNameClearText {
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: 5px;
}

.mainSelector {
    height: 40px;
    width: 200px;
    float: left;
    margin-right: 20px;
    padding: 0 15px;
}

.header-area {
    margin-top: 20px;
    display: table;
    position: relative;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    width: 100%;
    line-height: 6rem;
    background-color: #FEFEFE;
}

.header-container {
    width: 1000px;
    margin: 0 auto;
}

.logo-container a {
    font-family: 'Kaushan Script', cursive;
    font-size: 4rem;
    text-decoration: none;
    color: #000000;
}

.menu-area {
    line-height: 40px;
    background-color: #FEFEFE;
}

.menu-container {
    width: 1000px;
    margin: 0 auto;
}

.menu-container ul {
    text-align: right;
}

.menu-container ul li {
    list-style-type: none;
    list-style-position: outside;
    display: inline;
    padding: 0 20px;
    text-align: right;
}

.section {
    width: 100%;
    margin: 0 10px 35px;
    box-sizing: border-box;
}

.section-title {
    text-transform: uppercase;
    letter-spacing: 1.125px;
    border-bottom: 1px black solid;
    font-weight: bold;
}

fieldset {
    border: 1px black solid;
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    padding: 15px 10px 75px 10px;
    box-sizing: border-box;
}

.table {
    display: table;
}

.row {
    display: table-row;
}

.col {
    display: table-cell;
    line-height: 30px;
}

.col.first {
    padding-right: 20px;
}

.footer {
    background-color: #FEFEFE;
    text-align: center;
    width: 100%;
}

.emptySelectorContainer {
    /*display: none;*/
}